@import "tailwindcss";

@layer components {
    ::file-selector-button {
        appearance: auto;
        margin-inline-end: 4px;
        font: inherit;
        font-feature-settings: inherit;
        font-variation-settings: inherit;
        letter-spacing: inherit;
        color: inherit;
        opacity: 1;
        background-color: #0000;
        border-radius: 0;
    }

    input[type="file"]::file-selector-button {
        color: #fff;
        background: var(--color-gray-800);
        cursor: pointer;
        border: 0;
        margin-inline: -1rem 1rem;
        padding: 0.625rem 1rem 0.625rem 2rem;
        font-size: 0.875rem;
        font-weight: 500;
    }

    [type="file"] {
        background: unset;
        border-color: inherit;
        font-size: unset;
        line-height: inherit;
        border-width: 0;
        border-radius: 0;
        padding: 0;
    }

    [type="text"],
    [type="email"],
    [type="url"],
    [type="password"],
    [type="number"],
    [type="date"],
    [type="datetime-local"],
    [type="month"],
    [type="search"],
    [type="tel"],
    [type="time"],
    [type="week"],
    [multiple],
    textarea,
    select {
        appearance: none;
        border-color: var(--color-gray-500);
        --tw-shadow: 0 0 #0000;
        background-color: #fff;
        border-width: 1px;
        border-radius: 0;
        padding: 0.5rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5rem;
    }

    :is(
            [type="text"],
            [type="email"],
            [type="url"],
            [type="password"],
            [type="number"],
            [type="date"],
            [type="datetime-local"],
            [type="month"],
            [type="search"],
            [type="tel"],
            [type="time"],
            [type="week"],
            [multiple],
            textarea,
            select
        ):focus {
        outline-offset: 2px;
        --tw-ring-inset: var(--tw-empty,);
        --tw-ring-offset-width: 0px;
        --tw-ring-offset-color: #fff;
        --tw-ring-color: var(--color-blue-600);
        --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
            var(--tw-ring-offset-width) var(--tw-ring-offset-color);
        --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
            calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
        box-shadow:
            var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
            var(--tw-shadow);
        border-color: var(--color-blue-600);
        outline: 2px solid #0000;
    }

    button,
    input,
    select,
    optgroup,
    textarea {
        font: inherit;
        font-feature-settings: inherit;
        font-variation-settings: inherit;
        letter-spacing: inherit;
        color: inherit;
        opacity: 1;
        background-color: #0000;
        border-radius: 0;
    }

    .btn-primary {
        border-radius: calc(infinity * 1px);
        padding-inline: --spacing(5);
        padding-block: --spacing(2);
        font-weight: var(--font-weight-semibold);
        background-color: color-mix(
            in oklab,
            var(--color-neutral-950) 90%,
            transparent
        );
        color: var(--color-white);
        cursor: pointer;

        &:hover {
            @media (hover: hover) {
                background-color: color-mix(
                    in oklab,
                    var(--color-neutral-950) 80%,
                    transparent
                );
            }
        }
    }

    .btn-secondary {
        border-radius: calc(infinity * 1px);
        padding-inline: --spacing(5);
        padding-block: --spacing(2);
        font-weight: var(--font-weight-semibold);
        box-shadow: var(--shadow-sm);
        cursor: pointer;

        &:hover {
            @media (hover: hover) {
                background-color: color-mix(
                    in oklab,
                    var(--color-neutral-950) 5%,
                    transparent
                );
            }
        }
    }

    .input-primary {
        border-style: var(--tw-border-style);
        border-width: 1px;
        border-radius: var(--radius-lg);
        padding-inline: calc(var(--spacing) * 3);
        padding-block: calc(var(--spacing) * 1);
        border-color: color-mix(
            in oklab,
            var(--color-neutral-950) 10%,
            transparent
        );
    }

    .dialog-primary {
        position: absolute;
        inset-inline: 0;
        margin: auto;
        width: fit-content;
        height: fit-content;
        border-radius: var(--radius-lg);
        padding: calc(var(--spacing) * 4);

        &::backdrop {
            background-color: color-mix(
                in oklab,
                var(--color-black) 30%,
                transparent
            );
        }
    }
}
