<header>
    <div class="flex items-center justify-between px-4 pt-4">
        <div>
            <button
                type="button"
                class="menu-btn rounded-md p-1 px-2 hover:bg-neutral-950/5"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="2rem"
                    height="2rem"
                    viewBox="0 0 24 24"
                >
                    <rect width="24" height="24" fill="none" />
                    <path
                        fill="currentColor"
                        d="M3 6h18v2H3zm0 5h18v2H3zm0 5h18v2H3z"
                    />
                </svg>
            </button>
        </div>
        <a href="/">
            <h1 class="text-center text-2xl font-bold">Car inventory</h1>
        </a>
    </div>
    <%- include('./menu.ejs') %>
    <script type="module" src="/javascripts/header.js" defer></script>
</header>
